
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-image: url(/static/media/fondo.png);
  /*cover hace la imagen responsive*/
  background-size: cover;

  /*background-image: linear-gradient(180deg, #14C3A2 0%, rgba(124, 244, 154, 0.33) 33.85%, rgba(20, 195, 162, 0) 100%);*/
}
.contenedor{
  width: 100%;
  color: #ffffff;
}

/*.degradado{
  width:100%;
  background: linear-gradient(180deg, #14C3A2 0%, rgba(124, 244, 154, 0.33) 33.85%, rgba(20, 195, 162, 0) 100%);
}*/
.logo{
  position: fixed;
  width: 197.98px;
  height: 69px;
  left: 105px;
  top: 36px;
}
.iica{
  /*fixed es para que me siga en el scroll*/
  position: fixed;
  width: 108px;
  height: 39px;
  left: 342px;
  top: 51px;
}
.isesion{
  position: fixed;
  width: 121px;
  height: 23px;
  left: 1090px;
  top: 57px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
}
.titulo{
  position: absolute;
width: 690px;
height: 140px;
left: 105px;
top: 189px;
font-weight: 900;
font-size: 60px;
line-height: 70px;
}
.textopeq{
  position: absolute;
  width: 544px;
  height: 46px;
  left: 105px;
  top: 350px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #B8FD99;
}
