<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minium-scale=1.0, maxinum-scale=1.0">
    <title></title>
  </head>
  <body>
    <!--maquetación-->
    <!--encabezado del sitio-->
    <header>
      <div class="logo">
        <img src="img/logo.png" alt="Logo juventudes rurales" title="Juventudes Rurales" width="100px">
      </div>
      <nav>
        <ul>
          <li><a href="{{url_for('index.index')}}">Inicio</a></li>
          <li><a href="{{url_for('forum.index')}}">Foro</a></li>
          <li><a href="{{url_for('index.blog')}}">Blog</a></li>
          <li><a href="{{url_for('index.marketplace')}}">Marketplace</a></li>
        </ul>
      </nav>
    </header>
    <footer>
      <div class="redessociales">
        <ul>
          <li><a href="https://es-la.facebook.com/IICAnoticias/">Facebook</a></li>
          <li><a href="https://twitter.com/IICAnoticias?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twiter</a></li>
          <li><a href="https://www.instagram.com/iicaoficial/?hl=es-la">Instagram</a></li>
        </ul>

      </div>
    </footer>

  </body>
</html>