<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minium-scale=1.0, maxinum-scale=1.0">
    <title>Iniciar sesión</title>
  </head>
  <body>
    <legend>Ingresar</legend>
    <form method="post" action="{{ url_for('.login', next=next) }}">
        <p>Correo electrónico<input type=text name=correo>
        <p>Contraseña <input type=password name=contrasena>
        <p><input type=submit value=Iniciar sesión>
    </form>
    <style media="screen">
    body{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */
      color: #14C3A2;
    }
    .actividades{
      font-size: 18px;
      line-height: 21px;
      color: #595B5A;
    }

    </style>
  </body>
</html>