<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minium-scale=1.0, maxinum-scale=1.0">
    <title>Términos y condiciones</title>
    <style>
      body{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #595B5A;
      }
    </style>
  </head>
  <body>
    <h1>Términos y condiciones</h1>
    <p>He leído y acepto las condiciones de uso y la Política de Privacidad del IICA Acepto recibir notificaciones de la plataforma de juventudes rurales.</p>
    <p>Asimismo, conozco que el IICA tiene una política de protección de datos personales, en la cual se protegen los datos personales; para lo cual acuerdo aceptar los términos de la aplicación de dicha política y libero al Instituto por su uso con terceros, de conformidad con los términos de dicha política y sin reclamación a la posible violación a la confidencialidad. Y de conformidad con los términos de la cláusula segunda de este registro.</p>
    <p>LA CLÁUSULA INDICA: Cláusula (N°): Política sobre la protección de datos personales. El IICA cuenta con una “Política sobre la protección de datos personales”, la cual es de aplicación obligatoria para todas las personas naturales y jurídicas, que desarrollen actividades para el Instituto o encomendadas por éste, consistente en las normas internacionales sobre la materia, con su Código de Ética, sus valores y la ley aplicable en los Estados Miembros del Instituto.”</p>
    <p>Condiciones de uso y privacidad:</p>
    <p>Acepto y conozco que el IICA tiene una cláusula de confidencialidad que indica:</p>
    <p>1. Confidencialidad <br>
      Si en el marco del presente documento, eventualmente existiera "información confidencial" que a solicitud de uno de sus firmantes o de ambos se establezca así, dicha información se mantendrá reservada y no podrá ser divulgada parcial ni totalmente sin el previo consentimiento. El IICA utilizará sus controles, medidas de protección y medios de resguardo de contenidos establecidos en su normativa institucional vigente. La información confidencial será propiedad de su autor exclusivamente. Ni el IICA ni su personal comunicarán a otra persona o entidad ninguna información clasificada como confidencial ni la utilizarán para su propio provecho.
    </p>
    <p>AVISO DE PRIVACIDAD</p>
    <p>1. Recolección y procesamiento de información <br>
      Al visitar nuestro sitio web, el IICA podrá recolectar, si usted acepta, cookies e información de análisis, las cuales nos permiten personalizar el contenido en su idioma, de acuerdo con sus intereses y la región en que nos visita. <br>
      Cuando usted descarga o solicita algún material de los sitios del IICA, le pediremos nos provea información, misma que será almacenada y procesada de manera segura. <br>
      Para proceder con la descarga, o para dar seguimiento a una solicitud de información o contestar una petición de contacto, solicitaremos la siguiente información (de manera enunciativa más no limitada a): nombre completo, email , teléfono(s) de contacto, compañía (empleador), puesto / título laboral, dirección del empleador, sitio web de la empresa, número de empleados, país, ciudad, código postal, listado de los servicios o soluciones de su interés y nombres de cuentas de redes sociales (“Información Personal”). <br>
      Tenga en cuenta que los sitios y blogs del IICA utilizan cookies y tecnologías similares para proveerle una mejor experiencia y para propósitos de analítica. Por favor lea nuestra Política sobre la protección de datos personales para obtener mayor información. <br>
    </p>
    <p>2. Uso de información personal, de conformidad con la política del IICA sobre protección de datos personales. Esta Política es aplicable a todas y cada una de las personas vinculadas directamente con el IICA, sean funcionarios, consultores, pasantes, proveedores, personal asociado, contrapartes y socios estratégicos, entre otros, así como en todos los Estados Miembros y la Sede Central, con las cuales el Instituto se relaciona para el cumplimiento de su misión. <br>
      El IICA puede utilizar su Información Personal en las siguientes actividades: <br>
      Para contactarle y contestar cualquier solicitud que haya enviado a través de los sitios del IICA; Para enviarle material informativo sobre el IICA, de acuerdo a sus intereses; Realizar encuestas de satisfacción a nuestros usuarios; Administrar y contestar los comentarios o solicitudes realizadas en nuestros blogs, de los cuales usted puede participar; Con propósitos de reclutamiento; y Para compilar estadísticas generales. El IICA utiliza, si usted aceptó, cookies que almacenan información general, no personal, para medir la cantidad de visitas en nuestros sitios, el promedio de tiempo invertido en el sitio, páginas visitadas e información similar; para mejorar el contenido, así como asegurar su seguridad y protección. <br>
      El IICA no cede, renta, asigna, transfiere ni proporciona su Información Personal a terceros sin su previo consentimiento por escrito, excepto cuando (i) es generalmente conocida por el público en el momento de la divulgación o se vuelve de dominio público a través de ningún acto ilícito por parte del IICA; (ii) está en posesión del IICA al momento de la divulgación, sin que el IICA incumpla ninguna obligación legal; (iii) se vuelva de conocimiento del IICA por fuentes ajenas a la parte divulgadora, pero con el derecho legal de divulgar dicha Información Personal; (iv) deba ser divulgada por el IICA para cumplir con las leyes o regulaciones gubernamentales aplicables. <br>
    </p>
    <p>3. Cuánto tiempo conservamos su información. <br>
      Por tiempo indefinido hasta que usted manifieste que desea retirar su información de nuestra base de datos.
    </p>
    <p>4. Seguridad e Integridad de la información. <br>
      La Información Personal, que pueda usted proveer, será almacenada y protegida de acuerdo con los estándares de la industria y la tecnología. A pesar de lo anterior, el internet no es un ambiente 100% seguro, por lo que el IICA no puede asegurar que las transmisiones en internet serán completamente privadas o seguras, y usted comprende que cualquier mensaje o información que envíe al IICA puede ser leída o interceptada por terceras partes, aún y cuando la información esté encriptada.
    </p>
    <p>5. Sus derechos. <br>
      En cualquier momento, usted tiene el derecho de acceder y solicitar una copia de su Información Personal; solicitar que su Información Personal sea rectificada o revocada; y limitar su uso o divulgación,de conformidad con la política de protección de datos personales del IICA. <br>
      Usted puede hacerlo al: <br>
      Actualizar sus preferencias de email (a qué emails los recibe) al hacer clic en el hipervínculo con la leyenda email preferences / preferencias de email que se ubica en la parte inferior de cada correo electrónico que le enviamos. Una vez que haya dado clic podrá seleccionar qué emails prefiere recibir del IICA. <br>
      Enviar un correo con su solicitud al siguiente correo: genero.juventud@iica.int
    </p>
    <p>6. Cláusulas generales. <br>
      El IICA se reserva el derecho de hacer cambios a este Aviso de Privacidad, los cuales se publicarán a través de su sitio web: www.iica.int
    </p>
  </body>
</html>